<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    

    <bean id="student1" class="geektime.spring.web.foo.Student">
        <constructor-arg name="id" value="1" />
        <constructor-arg name="name" value="李雷" />
        <constructor-arg name="class_name" value="五年四班" />
        <constructor-arg name="order_no" value="12" />
    </bean>
    
    <bean id="student2" class="geektime.spring.web.foo.Student">
        <constructor-arg name="id" value="2" />
        <constructor-arg name="name" value="韩梅梅" />
        <constructor-arg name="class_name" value="五年四班" />
        <constructor-arg name="order_no" value="13" />
    </bean>
    
    <context:annotation-config/>
	<context:component-scan base-package="geektime.spring.web"/> 
</beans>